<ion-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <div>
      <ion-item>
        <ion-icon *ngIf="!addClicked" id="icon-addContact" slot=start name="add-circle" color="gray" size="large"
          (click)="addContact()"></ion-icon>
          <ion-icon *ngIf="addClicked" id="icon-addContact" (click)="addContact()" slot=start name="add-circle"
            color="primary" size="large"></ion-icon>
        <ion-input [(ngModel)]="inputName" (ionInput)="addClicked=true" placeholder="Add a contact"></ion-input>
      </ion-item>
    </div>
    <div></div>
  </ion-header>

  <ion-content>
    <app-contacts (click)="clickedOnItem($event)" [collectionUsers]="this.contactsServs.getContactsArray()" [hideTrash]="false" 
      [hideUserRadio]="true" ></app-contacts>
    <h2>Sent from me</h2>
    <app-contacts [collectionUsers]="this.contactsServs.getIncludedByThisArray()" [hideTrash]="false" [hideUserRadio]="true"
      (click)="clickedOnItem($event)"></app-contacts>
    <h2>Sent to me</h2>
    <app-contacts [collectionUsers]="this.contactsServs.getIncludedInAnotherArray()" [hideAdd]="false" [hideTrash]="false" [hideUserRadio]="true"
      (click)="clickedOnItem($event)"></app-contacts>
  </ion-content>
</ion-content>