<ion-card button="true" type="button" contenteditable="!readonly">
  <ion-card-content>
    <ion-card-title>
      <ion-input [readonly]="readonly" [(ngModel)]="card.title" name="title" placeholder="Título descriptivo" type="text"></ion-input>
    </ion-card-title>

    <p><img [contenteditable]="!readonly" [src]="card.src" width="80%"></p><br>
    <ion-input [readonly]="readonly" [(ngModel)]="card.link" name="enlace" placeholder="Enlace de referencia (opcional)" type="url"></ion-input>
    <ion-textarea [readonly]="readonly" [(ngModel)]="card.description" name="subtitle" placeholder="Descripcion"></ion-textarea>
  </ion-card-content>
</ion-card>