<ion-content>
  <h1 *ngIf="emptySelection">At this moment there isn't anothers cards to show</h1>
  <ion-button *ngIf="emptySelection" (click)="pullAnothersCards()" color="secondary" strong="true" expand="block">
    Refresh</ion-button>
  <swiper *ngIf="!emptySelection" (reachEnd)="reachedEnd()">
    
    <ng-template swiperSlide *ngFor="let card of this.cardsSellection">
      <ion-button *ngIf="reachEnd" (click)="pullAnothersCards()" color="secondary" strong="true">Refresh
      </ion-button>
      <card-component (click)="openViewcard(card, $event)" [card]=card contenteditable="false"></card-component>
    </ng-template>
  </swiper>
</ion-content>