<ion-item>
  <ion-label slot=start>Cabeza</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Cuello</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Superior</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Cintura</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Inferior</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Calzados</ion-label>
  <ion-input slot="end" placeholder="type here"></ion-input>
</ion-item>
<ion-item>
  <ion-label slot=start>Más info</ion-label>
  <ion-textarea slot=end size=400 ></ion-textarea>
</ion-item>