<ion-content>
  <ion-item>    
    <ion-icon (click)="cloneCard()" name="create-outline" color="primary" size="large" slot="end"></ion-icon>
  </ion-item>
  <ion-card *ngIf="!creating">
    <card-component [readonly]="true" [card]="card"></card-component>
    
  </ion-card>
  <ion-card *ngIf="creating">
    <card-component [readonly]="false" [card]="card"></card-component>
    <ion-button (click)="createCard()">Save</ion-button>
  </ion-card>

  <ion-item>
    <ion-icon (click)="openContactList='true'" name="share-social" color="primary" size="large" slot="start"></ion-icon>
  </ion-item>
  <span *ngIf="openContactList">
    <ion-item>
      <ion-button (click)="sendAcard()" color="secondary" strong="true" expand="block" slot="end">Send
        <ion-icon name="paper-plane" color="primary" size="small" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
      <app-contacts [collectionUsers]="contactsList"></app-contacts>   
  </span>
  
</ion-content>