<ion-header>
  <ion-toolbar>
    <ion-title>Contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <div>
      <ion-item>
        <ion-icon (click)="addContact()" slot=start name="add-outline" color="primary" size="large"></ion-icon>
        <ion-icon (click)="removeContact()" slot=end name="trash" color="primary" size="large"></ion-icon>
      </ion-item>
    </div>
    <div></div>
  </ion-header>
<ion-content>
<ion-list>
  <!-- <ion-label routerLink='/app/list/contacts/contacts/#ion-label-pok'></ion-label> -->
  <app-contacts></app-contacts>
</ion-list>
</ion-content>
</ion-content>